.outer{
  display: flex;
  background: transparent;
  width: 40%;
}

img{
  background: transparent;
}

.color{
  position: relative;
  left: -36.5px;
  top: 1px;
}

.text{
  background: transparent;
  position: relative;
  left: -68px;
  top: 14px;
}

.purple{
  color: #5B6BE1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.purple2{
  color: #7B61FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.orange{
  color: #F6944D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.green{
  color: #75C699;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.blue{
  color: #40C2FC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.yellow{
  color: #FDB338;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.darkBlue{
  color: #6A4C93;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}