.box{
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;

  p{
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.orange{
  background: rgba(244, 121, 32, 0.10);

  p{
    color: #F6944D;
  }
}

.blue{
  background: rgba(64, 194, 252, 0.10);

  p{
    color: #40C2FC;
  }
}

.green{
  background: rgba(117, 198, 153, 0.10);

  p{
    color: #75C699;
  }
}

.solidRed{
  background: #FC5555;

  p{
    color: #fff;
  }
}

.solidGreen{
  background: #29CC6A;

  p{
    color: #fff;
  }
}