.container{
  margin-top: 16px;
  border-radius: 8px;
  height: 60px;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;


  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  .circle{
    background: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.orange{
  background: rgba(252, 85, 85, 0.10);
  color: #FC5555;
}

.blue{
  background: rgba(123, 97, 255, 0.10);
  color: #7B61FF;
}

.green{
  background: rgba(41, 204, 106, 0.10);
  color: #29CC6A;
}