.outer{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
    overflow-y: auto;

    .heading{
        color: var(--color-gray-90, #3F3F3F);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }

    .text{
        color: var(--color-gray-80, #5F5F5F);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }

    .queAns{
        width: 70%;
        padding: 20px 40px;
        transform: translateX(-20%);
        transition: transform 0.3s ease-in-out;

        @media (max-width: 1000px) {
            width: 90%;
            transform: translateX(0);
            padding: 10px;
        }
    }
}

.toggler{
    position: absolute;
    top: 15px;
    right: 19px;
    background-color: #5B6BE1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    transform: rotate(180deg);

    @media (max-width: 1000px) {
        display: none;
    }
}

.title{
    position: fixed;
    z-index: 2;
    bottom: 0;
    background: #5B6BE1;
    display: flex;
    height: 57px;
    width: 100%;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    .DownArrow{
      @media (max-width:1000px) {
        transform: rotate(180deg);
      }
    }

    @media (min-width: 1000px) {
        display: none;
    }

    img{
        cursor: pointer;
        rotate: 90deg;
    }

    p,img{
        color: white;
        background: transparent;
    }
}

.hidden{
    width: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    @media (max-width: 1000px) {
        display: none;
        transform: translateX(0);
    }
}

.notHidden{
    width: 100%;
    transform: translateX(13%);
    transition: transform 0.3s ease-in-out;
    
    @media (max-width: 1000px) {
        transform: translateX(0);
    }
}